/* scaffolding */

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i");

body {
	min-width: 320px;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #777;

	background-color: #ffd200; /* temp */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

ul {
	margin: 0px;
	padding: 0px;

	list-style: none;
}

a,
a:hover {
	text-decoration: none;
}

:hover, :active, :focus {
	outline: none !important;
}

/**/



/* .section-gap */

.section-gap {
	padding: 80px 0;
}

@media screen and (min-width: 992px) {

	.section-gap {
		padding: 120px 0;
	}

}

/**/



/* .section-title */

.section-title {
	margin-bottom: 75px;

	text-align: center;
}

@media (max-width: 767px) {

	.section-title {
		margin-bottom: 40px;
	}

}

.section-title h2 {
	position: relative;

	margin-bottom: 20px;
	padding-bottom: 15px;

	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #222222;
	text-transform: capitalize;
}

@media (max-width: 767px) {

	.section-title h2 {	
		padding-bottom: 0px !important;

		font-size: 36px;
	}

}

.section-title h2:before {
	content: "";

	position: absolute;
	left: 50%;
	bottom: 0;

	width: 100px;
	height: 2px;
	margin-left: -50px;
	
	background: #e45447;
}

@media (max-width: 767px) {

	.section-title h2:before {
		display: none;
	}

}

.section-title h2:after {
	content: "";

	position: absolute;
	left: 50%;
	bottom: -4px;

	width: 10px;
	height: 10px;
	margin-left: -5px;	
	
	background: #e45447;
	border-radius: 50%;
}

@media (max-width: 767px) {

	.section-title h2:after {
		display: none;
	}	

}

.section-title p {
	margin: auto;
	margin-bottom: 0px;
	
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 26px;
	color: #777;
}

/**/



/* .btn */

.btn {
	display: inline-block;
	padding: 0 40px;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 46px;
	color: #000;
	text-transform: capitalize;
	text-align: center;
	
	border: 2px solid #90acd1;
	border-radius: 50px;
	outline: none !important;

	cursor: pointer;
}

.btn:hover {
	color: #fff;

	background: #e45447;
	border: 2px solid transparent;
}

/**/



/* .header */

.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
}

.header.fixed {
	position: fixed;
	top: -70px;
	transform: translateY(70px);

	background: #ffd200;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	
	transition: transform 500ms ease, background 500ms ease;
}

.header.fixed .navbar-light .navbar-nav .nav-link {
	line-height: 70px;
}

.header.fixed .navbar-light .navbar-nav .dropdown-menu .nav-link {
	line-height: 45px;
}

.navbar-light {
	padding: 0px;

	background-color: #e45447;
}

.navbar-light .container {
	padding-right: 15px;
	padding-left: 15px;
}

@media screen and (min-width: 992px) {

	.navbar-light {
		background-color: transparent;
	}

	.navbar-light .container {
		padding: 0;
	}

}

.navbar-light .navbar-nav .navbar-brand {
	margin-right: 30px;
	padding: 0;
}

.navbar-light .navbar-nav .nav-link {
	padding: 0px;

	font-size: 16px;
	line-height: 40px;
	color: #000;

	border-bottom: 1px solid #ededed30; /* method */
}

.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:after {
	display: none; /* arrows */
}

.navbar-light .navbar-nav .dropdown-menu {
	margin: 0;
	padding: 0;

	border: 0;
	border-radius: 0;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link {
	padding: 0px 15px;

	line-height: 45px;
	color: #222;

	background-color: #ffd200;
	border-bottom: 1px solid #ededed;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link:last-child {
	border-bottom: none;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link:hover,
.navbar-light .navbar-nav .dropdown-menu .nav-link:focus {
	color: #fff;

	background: #e45447;
}

@media screen and (min-width: 992px) {

	.navbar-light .navbar-nav .nav-item {
		margin-right: 45px;
	}

	.navbar-light .navbar-nav .nav-item:last-child {
		margin-right: 0;
	}

	.navbar-light .navbar-nav .nav-link {
		line-height: 100px;
	}

	.navbar-light .navbar-nav .dropdown-menu .nav-link {
		padding: 0px 30px;
	}

	.navbar-light .navbar-nav .dropdown {
		position: relative;
	}

	.navbar-light .navbar-nav .dropdown-menu {
		position: absolute;
		top: 120%;

		display: block;
		min-width: 200px;

		background: #ffd200;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);

		transition: all 250ms ease-in;

		opacity: 0;
	}

	.navbar-light .navbar-nav .dropdown:hover .dropdown-menu {
		top: 100%;
	
		opacity: 1;
	}

}

/**/



/* .navbar-toggler */

.navbar-toggler {
	margin: 0;
	padding: 0px;

	border: none;
	border-radius: 0px;
	
	cursor: pointer;
}

.navbar-toggler span {
	display: block;
	width: 25px;
	height: 3px;
	margin-bottom: 4px;

	background: #fff;
	
	transition: all 250ms linear;

	cursor: pointer;
}

.navbar-toggler[aria-expanded="true"] .icon-bar_1 {
	transform: rotate(45deg) translateY(5px) translateX(5px);
}

.navbar-toggler[aria-expanded="true"] .icon-bar_2 {
	opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .icon-bar_3 {
	transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

/**/



/* .intro */

.header + section {
	margin-top: 70px;
}

@media screen and (min-width: 992px) {

	.header + section {
		margin-top: 0;
	}

}

.intro {
	position: relative;
}

.intro .intro-slide_1 {
	background: url(../img/is_1.jpg);
}

.intro .intro-slide_2 {
	background: url(../img/is_2.jpg);
}

.intro .intro-slide_3 {
	background: url(../img/is_3.jpg);
}

@media screen and (min-width: 992px) {

	.intro .intro-slide_1 {
		background: url(../img/is_1.jpg);
		background-size: cover;
	}

	.intro .intro-slide_2 {
		background: url(../img/is_2.jpg);
		background-size: cover;
	}

	.intro .intro-slide_3 {
		background: url(../img/is_3.jpg);
		background-size: cover;
	}

}

.intro .fullscreen {
	height: 600px;
}

@media screen and (min-width: 992px) {

	.intro .fullscreen {
		height: 100vh;
	}

}

.intro-cont {
	margin: 0 15px;
	padding: 50px 20px;
	
	text-align: center;

	background: #fff;
}

@media screen and (min-width: 576px) {

	.intro-cont {
		margin: 0;
		padding: 0;

		background: none;
	}

}

@media screen and (min-width: 1920px) {

	.intro-cont {
		text-align: left;
	}

}

.intro-cont__title {
	margin-bottom: 20px;

	font-size: 40px;
	color: #000;
}

@media (min-width: 992px) {

	.intro-cont__title {
		font-size: 60px;
	}

}

.intro-cont__descr {
	margin-bottom: 30px;

	font-size: 20px;
	color: #000;
}

@media (min-width: 992px) {

	.intro-cont__descr {
		font-size: 30px;
	}

}

.intro-cont .btn {
	color: #fff;

	background: #e45447;
	border: 2px solid transparent;
	
}

.intro-cont .btn:hover {
	color: #000;

	background: transparent;
	border-color: #e45447;
}

/**/



.intro .owl-dots {
	display: none;
}



/* .portfolio */

.portfolio {
	background-color: #fff;
}

/* .sort-by */

.sort-by {
	background: #ffd200;
}

.sort-by__list {
	position: relative;

	margin-bottom: 50px;
	padding: 15px;

	text-align: center;
}

.sort-by__list:before {
	content: "";

	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	
	height: 10px;
	width: calc(100% - 20px);
	
	background: #ffe6db;
}

.sort-by__item {
	display: inline-block;
	margin-right: 30px;

	font-size: 12px;
	color: #000;
	text-transform: uppercase;

	cursor: pointer;
}

.sort-by__item:last-child {
	margin-right: 0px;
}

.sort-by__item.active,
.sort-by__item:hover {
	color: #e45447;
}

/**/

/* .projects */

.project {
	position: relative;

	overflow: hidden;
	margin-bottom: 30px;

	border-radius: 5px;
}

.project:before {
	content: "";

	position: absolute;
	left: 0px;
	top: 0px;

	width: 100%;
	height: 100%;

	background: #000;

	transition: all 300ms ease;
	
	opacity: 0;
}

.project:hover:before {
	opacity: 0.4;
}

.project__cont {
	position: absolute;
	bottom: 0px;
	transform: translateX(-50%);

	width: 100%;
	left: 50%;
	
	text-align: center;
	
	transition: all 0.4s ease 0s;

	opacity: 0;
	visibility: hidden;
}

.project:hover .project__cont {
	bottom: 30px;

	opacity: 1;
	visibility: visible;
}

.project__title {
	margin-bottom: 5px;

	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	
	transition: all 0.4s ease 0s;
	
	cursor: pointer;
}

.project__descr {
	margin-bottom: 0px;

	font-size: 15px;
	color: #fff;
}

/**/

/**/



/* .about */

.about {
	background-color: #f9f9ff;
}

.about .section-title {
	margin-bottom: 30px;
}

.about .section-title h2 {
	margin-bottom: 0;
}

.about .section-title h2:before {
	left: 8%;
}

@media screen and (min-width: 992px) {

	.about .section-title h2:before {
		left: 12%;
	}

}

@media screen and (min-width: 1200px) {

	.about .section-title h2:before {
		left: 10%;
	}

}

.about .section-title h2:after {
	left: 5px;
}

.about__part_1 {
	display: none;
}

@media screen and (min-width: 992px) {

	.about__part_1 {
		display: block;
	}

}

.about__descr_mb {
	margin-bottom: 50px;
}

/**/



/* .testimonial */

.testimonial {
	background-color: #fff;
}

@media screen and (min-width: 992px) {

	.testimonial {
		background: url(../img/testimonial.jpg) no-repeat center;
	}

}

.testimonial__title {
	text-align: center;
}

@media screen and (min-width: 992px) {

	.testimonial__title {
		text-align: left;
	}

}

.testimonial .testimonial__title img {
	width: auto;
	margin: 0 auto 30px;
}

@media screen and (min-width: 992px) {

	.testimonial .testimonial__title img {
		margin: 0;
		margin-bottom: 30px;
	}

}

.testimonial__title h4 {
	margin-bottom: 10px;

	font-size: 21px;
	color: #000;
}

.testimonial__title .rating i {
	color: #ffc000;
}

.testimonial__descr {
	margin-top: 30px;
}

.testimonial__descr p {
	margin-bottom: 40px;

	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 36px;

	text-align: center;
}

@media screen and (min-width: 992px) {

	.testimonial__descr p {
		padding-right: 35px;

		font-size: 24px;
		text-align: left;
	}

}

.testimonial .testimonial__current .owl-dots {
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	
	width: 100px;
	height: 25px;

	background: #e45447;
	border-radius: 50px;
}

@media screen and (min-width: 992px) {

	.testimonial .testimonial__current .owl-dots {
		left: 0;
		transform: translateX(0);
	}

}

.testimonial .testimonial__current .owl-dot {
	display: inline-block;
	height: 15px;
	width: 15px;
	margin: 5px;

	background: #ec887f;
	border-radius: 50%;
}

.testimonial .testimonial__current .owl-dot.active {
	background: #fff;
}

.brands {
	display: none;
}

@media (min-width: 992px) {

	.brands {
		display: block;
		padding: 80px 50px;

		background: #fff;
		box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2);
	}

	.brands img {
		cursor: pointer;
	}

	.brands__item_top img:last-child {
		float: right;
	}

	.brands__item_middle {
		margin: 85px 0;
		text-align: center;
	}

	.brands__item_bottom img:last-child {
		float: right;
	}

}

/**/



/* .newsletter */

.newsletter {
	background-image: url(../img/newsletter.jpg);
	background-size: cover;
}

.newsletter .section-title h2,
.newsletter .section-title p {
	color: #fff;
}

.newsletter .section-title h2:before,
.newsletter .section-title h2:after {
	background: #fff;
}

.newsletter__form .navbar-form {
	display: flex;
	align-items: center;
	height: 50px;

	background: #fff;
	border-radius: 50px;
}

.newsletter__field {
	width: 1%;
	flex-grow: 1;
	height: 50px;
	padding: 0 20px;

	font-size: 13px;
	color: #000;

	background: none;
	border: none;
}

.newsletter__field.placeholder {
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
}

.newsletter__field:-moz-placeholder {
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
}

.newsletter__field::-moz-placeholder {
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
}

.newsletter__field::-webkit-input-placeholder {
	font-size: 12px;
	color: #999;
	text-transform: uppercase;
}

.btn_form {
	height: 40px;
	margin: 0;
	margin-right: 5px;
	padding: 0 30px;

	font-size: 11px;
	line-height: 40px;
	color: #22195e;
	text-transform: uppercase;
	
	background: #ffd200;
	border: none;
	border-radius: 50px;

	cursor: pointer;
}

.btn_form:hover {
	color: #fff;

	background-color: #e45447;
}

/**/

.footer_area {
	background: #ffd200;
}

.social_widget .f_title h4 {
	font-size: 21px;
	margin: 40px 0 20px;
	color: #000;
}

.social_widget p {
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto", sans-serif;
	color: #777777;
	margin-bottom: 10px;
}

.social_widget .list li {
	margin-right: 40px;
	display: inline-block;
}

.social_widget .list li a {
	color: #c48e0b;
	font-size: 36px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.social_widget .list li:last-child {
	margin-right: 0px;
}

.social_widget .list li:hover a {
	color: #e45447;
}

.copyright {
	margin-top: 40px;
}

.copyright p {
	color: #000;
}

.copyright p a {
	color: #e45447;
}